
.div{
    border:2px;
    border-style:dashed;
    border-color:aqua;
    width:1500px;
    font-style:italic;

}

#AB_1{ 
    border:5px double red;
    margin:100px;

} 
#AB_1 p{
    color: blue;
    padding:50px;
    margin:50px 50px ;
}
h2{
    background-color:chartreuse;
    padding-left:40%;
}

a:link
{ 
    color:yellow;
    line-height:30px;
    /* margin-left:700px; */
    /* margin-bottom:100px; */
    /* padding:20px; */
    /* padding-left:45%; */
    /* border: 4%; */
    display:block;
    border-style:dotted;
    border-color:black;
   
    
}
a:visited
{
    /* background-color:aqua; */
    color:chartreuse;
}


